Request header with multi values does not follow RFC7230

[JniBridgeUtility.toJniHeaders](https://github.com/envoyproxy/envoy-mobile/blob/main/library/java/io/envoyproxy/envoymobile/engine/JniBridgeUtility.java#L26) does not seem to follow [RFC 7230, Section 3.2](https://datatracker.ietf.org/doc/html/rfc7230#section-3.2). Here are copied the interesting paragraphs:

     A sender MUST NOT generate multiple header fields with the same field
     name in a message unless either the entire field value for that
     header field is defined as a comma-separated list [i.e., #(values)]
     or the header field is a well-known exception (as noted below).

     A recipient MAY combine multiple header fields with the same field
     name into one "field-name: field-value" pair, without changing the
     semantics of the message, by appending each subsequent field value to
     the combined field value in order, separated by a comma.  The order
     in which header fields with the same field name are received is
     therefore significant to the interpretation of the combined field
     value; a proxy MUST NOT change the order of these field values when
     forwarding a message.

       Note: In practice, the "Set-Cookie" header field ([RFC6265]) often
       appears multiple times in a response message and does not use the
       list syntax, violating the above requirements on multiple header
       fields with the same name.  Since it cannot be combined into a
       single field-value, recipients ought to handle "Set-Cookie" as a
       special case while processing header fields.  (See Appendix A.2.3
       of [Kri2001] for details.)

I read this couple of times (IANAL), and here is my understanding:

Invalid:
```
header-name1: aa
header-name1: cc
```

```
header-name1: aa
header-name1: cc, dd
```

Idk:
```
header-name1: aa, bb
header-name1: cc
```

Valid:
```
header-name1: aa, bb
header-name1: cc, dd
```

```
Set-Cookie: vegan cookie
Set-Cookie: butter cookie
```

" A sender MUST NOT generate multiple header fields with the same field
 name in a message unless either the entire field value for that
 header field is defined as a comma-separated list "

so if header-name1 is allowed to be multi-value, I believe that it's legal to do all of the above.

Yeah - the Cronet test confused me - there is no bug here. Thanks.